#tophead {
  max-height: 10px;
  background-color: black;
  color: white;
  font-size: 7px;
}
/* #tophead p{
  float:right;
} */
.navbar {
  background-color: white;
  max-height: 65px;
}
.navbar a {
  color: #000000;
  font-size: 15px;
}
.navbar-brand img {
  height: 50px;
}
