<div class="container-flex mt-3">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputState">Program</label>
        <select id="inputState" class="form-control">
          <option *ngFor="let program of Programs" [value]="program.name">{{
            program.name
          }}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
            <label for="inputState">Province</label>
            <select id="inputState" class="form-control">
              <option>Cebu</option>
              <option value="">Bohol</option>
              <option value="">Negros</option>
              <option value="">Siquijor</option>
            </select>
      </div>
    </div>
  </form>
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>District</th>
        <th>Municipality</th>
        <th>No.of Benes</th>
        <th>Amount Disbursed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1st District</td>
        <td>Minglanilla</td>
        <td>15559</td>
        <td>35,313,900.00</td>
      </tr>
      <tr>
        <td>1st District</td>
        <td>Carcar City</td>
        <td>15559</td>
        <td>54,645,900.00</td>
      </tr>
      <tr>
        <td>1st District</td>
        <td>Minglanilla</td>
        <td>15559</td>
        <td>35,313,900.00</td>
      </tr>
      <tr>
        <td>1st District</td>
        <td>Naga City</td>
        <td>2,625</td>
        <td>26,292,000.00</td>
      </tr>
    </tbody>
  </table>
</div>
