<nav class="navbar sticky-top navbar-expand-md ">
    <a class="navbar-brand" href="#"><img src="/../../assets/logo.png" alt=""></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavbar"
    >
      <span ><i class="fa fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link ml-4" routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-fw fa-home"> </i>Dashboard</a>
        </li>
        
      </ul>
      
    </div>
  </nav>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2 bg-dark1">
      <div id="accordion">
        <div class="card c1">
          <div class="card-header head" id="headingOne">
            <a
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <i class="fa fa-arrow-down"></i> Programs
            </a>
          </div>

          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordion"
          >
            <div class="card-body">
              <ul class="list-group list " *ngFor="let program of Programs">
                <li class="list-group-item">{{ program.name }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header head" id="headingTwo">
            <a
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              <i class="fa fa-arrow-down"></i> Manage Programs
            </a>
          </div>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordion"
          >
            <div class="card-body">
              <ul class="list-group list ">
                <li class="list-group-item">View All</li>
                <li class="list-group-item">Add New</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10 right">
      <div class="container-flex">
        <div class="container m-5">
          <div class="py-5">
            <div class="container">
              <div class="row hidden-md-up">
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-block">
                      <div class="card-body com" routerLink="/insert-data" routerLinkActive="active">
                        <img src="/../assets/insertdata.png" alt="" routerLink="/insert-data" routerLinkActive="active"/>
                        <p>Insert Data</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-block">
                      <div class="card-body com">
                        <img src="/../assets/Reports.png" alt="" />
                        <p>Reports</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-block">
                      <div class="card-body com" routerLink="/users" routerLinkActive="active">
                        <img src="/../assets/musers.png" alt="" routerLink="/users" routerLinkActive="active"/>
                        <p>Manage Users</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-block" >
                      <div class="card-body com"routerLink="/programs" routerLinkActive="active" >
                        <img src="/../assets/program.png" alt="" routerLink="/programs" routerLinkActive="active"/>
                        <p>Programs</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-block">
                      <div class="card-body com">
                        <img src="/../assets/noti.png" alt="" />
                        <p>Notifications</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-block">
                      <div class="card-body com">
                        <img src="/../assets/insertdata.png" alt="" />
                        <p>Insert Data</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
