
<nav class="navbar sticky-top navbar-expand-md bg-white">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavbar"
    >
      <span ><i class="fa fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link ml-4" routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-fw fa-home"> </i>Dashboard</a>
        </li>
        
      </ul>
      
    </div>
  </nav>



<div class="container-fluid">
    <div class="container-flex">
        <div class="container">
          <div class="py-5">
            <div class="container">
              <div class="row hidden-md-up">
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-block">
                      <div class="card-body com" routerLink="/insert-data" routerLinkActive="active">
                        <img src="/../assets/insertdata48.png" alt="" routerLink="/insert-data" routerLinkActive="active"/>
                        <h5>Insert Data</h5>
                        <p>Input data on each program details like target and no. of benes.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-block">
                      <div class="card-body com" routerLink="/reports" routerLinkActive="active">
                        <img src="/../assets/report48.png" alt="" routerLink="/reports" routerLinkActive="active"/>
                        <h5>Reports</h5>
                        <p>Staff posted data in each program can generate reports.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-block">
                      <div class="card-body com" routerLink="/users" routerLinkActive="active">
                        <img src="/../assets/musers48.png" alt="" routerLink="/users" routerLinkActive="active"/>
                        <h5>Manage Users</h5>
                        <p>Admin can manage users access and users details here.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-block" >
                      <div class="card-body com"routerLink="/programs" routerLinkActive="active" >
                        <img src="/../assets/program48.png" alt="" routerLink="/programs" routerLinkActive="active"/>
                        <h5>Programs</h5>
                        <p>DSWD community progams details ang management.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-block">
                      <div class="card-body com" routerLink="/notifications" routerLinkActive="active">
                        <img src="/../assets/noti48.png" alt="" routerLink="/notifications" routerLinkActive="active"/>
                        <h5>Notifications</h5>
                        <p>View all new registrations and report related notifications.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-block">
                      <div class="card-body com">
                        <img src="/../assets/acc48.png" alt="" />
                        <h5>My Account</h5>
                        <p>Account holds my personal data managements and configurations.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
