.bg-gray5{
    background-color: #181818;
    height: 100vh;
    overflow: auto;
}
.right{
    height: 100vh;
    overflow: auto;
}
.head{
    background-color: #2E2D2D ;
    height: 50px; 
    color: white;
    text-align: center;
}
.card-body li{
    font-size: 14px;
}
.card-body li:hover{
    background-color: #2177EB;
    color: white;
}
.card a{
    font-size: 12px;
}

.navbar a img {
    height: 25px;
    width: 25px;
  }
.bg-dark1{
    background-color: #222222   ;
}



.navbar a img {
    height: 25px;
    width: 25px;
  }
  .navbar {
    max-height: 50px;
     background-color: #2E2D2D ; 
    /* background-color: #6F2232 ; */
  }
  .navbar a {
    color: white;
    background-color: #2E2D2D;
    font-size: 14px;
  }
  .navbar a:hover {
      color: #1289F8 ; 
      /* color:  #C3073F; */
      background-color: #2E2D2D;
      /* padding: 8px 10px; */
  }
  span {
    color: white;
  }
  .underline{
      border-bottom: #1289F8 solid;
  }